Repository aknethstudio-stack/adminakneth, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, configuration, dependencies, tests

.github/labeler.yml:

bug:
  - 'src/bugs/**/*'
  - any-of: ['fix', 'bugfix']

documentation:
  - '**.md'
  - 'docs/**/*'

configuration:
  - 'package.json'
  - 'package-lock.json'
  - 'npm-shrinkwrap.json'
  - 'yarn.lock'
  - 'pnpm-lock.yaml'
  - 'tsconfig.json'
  - 'next.config.js'
  - 'tailwind.config.ts'
  - 'postcss.config.js'
  - 'eslint.config.mjs'
  - '.prettierrc'
  - '.prettierignore'
  - '.editorconfig'
  - '.gitattributes'
  - '.gitignore'
  - '.releaserc.json'
  - 'commitlint.config.js'
  - '.husky/**/*'
  - '.github/**/*'

dependencies:
  - 'package.json'
  - 'package-lock.json'
  - 'npm-shrinkwrap.json'
  - 'yarn.lock'
  - 'pnpm-lock.yaml'

tests:
  - 'src/**/*.test.{js,jsx,ts,tsx}'
  - 'src/**/*.spec.{js,jsx,ts,tsx}'
  - 'tests/**/*'

refactor:
  - 'src/**/*'
  - any-of: ['refactor']

chore:
  - '.github/**/*'
  - '.husky/**/*'
  - 'package.json'
  - 'yarn.lock'
  - 'pnpm-lock.yaml'
  - any-of: ['chore']

Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: configuration

feat: config jest
  .github/workflows/ci.yml
  .husky/commit-msg
  README.md
  commitlint.config.cjs
  jest.config.mjs
  jest.setup.js
  package-lock.json
  package.json
Labels: documentation, configuration, dependencies

Update issue templates
  .github/ISSUE_TEMPLATE/custom.md
Labels: configuration

feat: config
  CONTRIBUTING.md
  SECURITY.md
  package-lock.json
  package.json
Labels: documentation, configuration, dependencies

feat: integrate codecov, update styles, and add header component
  .github/workflows/ci.yml
  README.md
  src/components/Header.tsx
  src/styles/_variables.scss
  src/styles/globals.scss
  tailwind.config.ts
Labels: documentation, configuration

feat: updated readme
  README.md
Labels: documentation

docs: add CODEOWNERS file
  .github/CODEOWNERS
Labels: configuration

chore: ignore temp directory
  .gitignore
Labels: configuration

docs: add pull request and issue templates
  .github/ISSUE_TEMPLATE/custom.md
  .github/ISSUE_TEMPLATE/general.md
  .github/ISSUE_TEMPLATE/question.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: configuration

feat: implement poppins font and app router setup
  GEMINI.md
  next.config.ts
  package-lock.json
  package.json
  src/app/layout.tsx
  src/app/page.tsx
  src/styles/globals.scss
Labels: documentation, configuration, dependencies

chore: enhance commitlint rules
  commitlint.config.cjs
Labels: none

docs: gemini
  .github/workflows/gemini-cli.yml
  .github/workflows/gemini-issue-automated-triage.yml
  .github/workflows/gemini-issue-scheduled-triage.yml
  .github/workflows/gemini-pr-review.yml
Labels: configuration

feat(auth): implement supabase authentication and admin panel
  .env.example
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .project_shortcuts.sh
  AUTH_SETUP.md
  changes.diff
  commitlint.config.cjs
  eslint.config.mjs
  next.config.ts
  package-lock.json
  package.json
  postcss.config.cjs
  postcss.config.js
  scripts/devserv.sh
  src/app/api/auth/callback/route.ts
  src/app/api/auth/logout/route.ts
  src/app/api/auth/user/route.ts
  src/app/api/auth/validate-admin/route.ts
  src/app/dashboard/page.tsx
  src/app/layout.tsx
  src/app/login/page.tsx
  src/app/page.tsx
  src/app/settings/page.tsx
  src/components/Header.tsx
  src/lib/auth-context.tsx
  src/lib/auth.ts
  src/lib/supabase.ts
  src/middleware.ts
  src/styles/globals.scss
  tailwind.config.ts
Labels: documentation, configuration, dependencies

fix(build): Resolve TypeScript errors and refactor auth logic
  package-lock.json
  package.json
  postcss.config.cjs
  src/app/api/auth/callback/route.ts
  src/app/api/auth/logout/route.ts
  src/app/api/auth/user/route.ts
  src/app/settings/page.tsx
  src/lib/auth-context.tsx
  src/lib/supabase/server.ts
  tailwind.config.ts
  tsconfig.json
Labels: configuration, dependencies

fix: delete unused file
  .project_shortcuts.sh
Labels: none

Update LICENSE
  LICENSE
Labels: none

Update LICENSE
  LICENSE
Labels: none

docs: Update contribution and project documentation
  .releaserc.json
  CONTRIBUTING.md
  GEMINI.md
  postcss.config.cjs
  src/app/login/page.tsx
  src/app/settings/page.tsx
  src/components/LoginContent.tsx
  src/lib/supabase/server.ts
  src/styles/globals.scss
  tsconfig.json
Labels: documentation, configuration

Potential fix for code scanning alert no. 2: Workflow does not contain permissions
  .github/workflows/manual-release.yml
Labels: configuration

Potential fix for code scanning alert no. 2: Workflow does not contain permissions
  .github/workflows/manual-release.yml
Labels: configuration

Potential fix for code scanning alert no. 1: Workflow does not contain permissions
  .github/workflows/ci.yml
Labels: configuration

fix(auth): Remove non-null assertions and fix linter issue
  src/components/LoginContent.tsx
  src/middleware.ts
Labels: none

chore: Update dependencies and ignore Gemini cache directory
  .gitignore
  package-lock.json
  package.json
Labels: configuration, dependencies

chore: removed unused file
  changes.diff
Labels: none

fix: codacy
  .codacy/cli.sh
  .github/copilot-instructions.md
  .github/pull_request_template.md
  .gitignore
  CHANGELOG.md
  README.md
  package.json
  scripts/devserv.sh
  src/app/settings/page.tsx
  src/components/Header.tsx
  src/components/LoginContent.tsx
Labels: documentation, configuration, dependencies

fix: upgrade next from 15.5.0 to 15.5.2
  package-lock.json
  package.json
Labels: configuration, dependencies

fix: upgrade zod from 4.1.1 to 4.1.3
  package-lock.json
  package.json
Labels: configuration, dependencies

fix: upgrade typescript-eslint from 8.41.0 to 8.42.0
  package-lock.json
  package.json
Labels: configuration, dependencies

fix: upgrade @supabase/supabase-js from 2.56.0 to 2.57.0
  package-lock.json
  package.json
Labels: configuration, dependencies

fix: upgrade @tailwindcss/postcss from 4.1.12 to 4.1.13
  package-lock.json
  package.json
Labels: configuration, dependencies

fix: package.json to reduce vulnerabilities
  package.json
Labels: configuration, dependencies

fix: package.json to reduce vulnerabilities
  package.json
Labels: configuration, dependencies

fix: package.json to reduce vulnerabilities
  package.json
Labels: configuration, dependencies

fix: package.json to reduce vulnerabilities
  package.json
Labels: configuration, dependencies

fix: package.json to reduce vulnerabilities
  package.json
Labels: configuration, dependencies
